{% extends 'base.html.twig' %}

{% block title %}Parents Details{% endblock %}

{% block body %}
    <h1>Parents Details</h1>
    <p>ID: {{ Parents.id }}</p>
    <!-- Ajoutez d'autres champs ici -->
{% endblock %}