{% extends 'base.html.twig' %}

{% block title %}Level Details{% endblock %}

{% block body %}
    <h1>Level Details</h1>
    <p>ID: {{ Level.id }}</p>
    <!-- Ajoutez d'autres champs ici -->
{% endblock %}