{% extends 'base.html.twig' %}

{% block title %}Child Details{% endblock %}

{% block body %}
    <h1>Child Details</h1>
    <p>ID: {{ Child.id }}</p>
    <!-- Ajoutez d'autres champs ici -->
{% endblock %}