{% extends 'base.html.twig' %}

{% block title %}Admin Details{% endblock %}

{% block body %}
    <h1>Admin Details</h1>
    <p>ID: {{ Admin.id }}</p>
    <!-- Ajoutez d'autres champs ici -->
{% endblock %}