{% extends 'base.html.twig' %}

{% block title %}Game Details{% endblock %}

{% block body %}
    <h1>Game Details</h1>
    <p>ID: {{ Game.id }}</p>
    <!-- Ajoutez d'autres champs ici -->
{% endblock %}