{% extends 'base.html.twig' %}

{% block title %}Fill_in_the_blank Details{% endblock %}

{% block body %}
    <h1>Fill_in_the_blank Details</h1>
    <p>ID: {{ Fill_in_the_blank.id }}</p>
    <!-- Ajoutez d'autres champs ici -->
{% endblock %}