{% extends 'base.html.twig' %}

{% block title %}Matching_game Details{% endblock %}

{% block body %}
    <h1>Matching_game Details</h1>
    <p>ID: {{ Matching_game.id }}</p>
    <!-- Ajoutez d'autres champs ici -->
{% endblock %}