{% extends 'base.html.twig' %}

{% block title %}Dragdrop Details{% endblock %}

{% block body %}
    <h1>Dragdrop Details</h1>
    <p>ID: {{ Dragdrop.id }}</p>
    <!-- Ajoutez d'autres champs ici -->
{% endblock %}