{% extends 'base.html.twig' %}

{% block title %}Jeudedevinette Details{% endblock %}

{% block body %}
    <h1>Jeudedevinette Details</h1>
    <p>ID: {{ Jeudedevinette.id }}</p>
    <!-- Ajoutez d'autres champs ici -->
{% endblock %}