{% extends 'base.html.twig' %}

{% block title %}Images Details{% endblock %}

{% block body %}
    <h1>Images Details</h1>
    <p>ID: {{ Images.id }}</p>
    <!-- Ajoutez d'autres champs ici -->
{% endblock %}